tenancy_ocid       = ""
user_ocid          = ""
private_key_path   = ""
fingerprint        = ""
region             = ""
compartment_id     = ""
vcn_name           = ""
vcn_dns_label      = ""
public_cidr_block  = ""
private_cidr_block = ""
